{# <footer class="container-fluid bg-light">
	<div class="row">
		<section class="col">
			Colonne 1
		</section>
		<section class="col">
			Colonne 2
		</section>
		<section class="col">
			Colonne 3
		</section>
	</div>
</footer> #}
<style>
body {
            margin: 0;
            padding: 0;
            height: 100%;
            position: relative;
        }

        .content {
            padding-bottom: 120px; 
        }

   .footer {
    background-color: #333;
    color: white;
    padding: 20px 0; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer img {
    width: 150px;
    height: auto;
    margin-right: 10px; 
    display: inline-block;
    vertical-align: middle;
}

.footer .left-text {
    float: left;
    text-align: right;
    width: calc(50% - 80px); 
    color: white;
}

.footer .right-text {
    float: right;
    /* text-align: right;  */
    width: calc(50% - 80px); 
}

    </style>
</head>
<body>

<div class="content">
    
</div>

<footer class="footer">
    <a class="left-text" href="#">Mentions légales</a>
    <img src="https://i.ibb.co/tp1fKmy/Votre-texte-de-paragraphe-removebg-preview.png" alt="Logo de votre entreprise">
    <div class="right-text">&copy; 2024 Tous droits réservés</div>
</footer>

</body> 