{% extends "base.html.twig" %}

{% block title %}Administration des produits{% endblock %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
            <h1>Modifier un produit</h1>
            {% include "admin/products/_form.html.twig" with {'button_label': 'Modifier'} %}
        </div>
        {# Ajoutez un bouton de suppression de l'article #}
        <form action="{{ path('products_delete', {'id': products.id}) }}" method="post"
            onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?')">
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
    </section>
</main>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/images.js') }}" defer></script>
{% endblock %}