{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Erreur 403</h1>
                <p>Fermez le pc avant explosion.</p>            
            </div>
        </section>
    </main>
{% endblock %}
